In [1]:
#import dependencies 
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA MARS NEWS

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html, 'html.parser')

In [5]:
news_title = soup.find("div", class_="content_title").text
news_p = soup.find("div", class_="article_teaser_body").text
print(f"News Title: {news_title}")
print(f"News: {news_p}")

News Title: NASA's InSight Detects First Likely 'Quake' on Mars
News: While their causes are still unknown, one of three shaking events looks a lot like the quakes detected on the Moon by the Apollo missions.

# JPL Mars Space Images - Featured Image

In [6]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)

In [7]:
html = browser.html
soup = bs(html, 'html.parser')

In [9]:
image = soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]
image

'/spaceimages/images/wallpaper/PIA19968-1920x1200.jpg'

In [10]:
featured_image_url = "https://www.jpl.nasa.gov" + image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19968-1920x1200.jpg

# Mars Weather

In [11]:
twitter_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(twitter_url)

In [12]:
html_weather = browser.html
soup = bs(html_weather, 'html.parser')

In [13]:
tweets = soup.find_all("div",class_="js-tweet-text-container")

In [13]:
# get the latest tweet
for tweet in tweets:
    mars_weather = tweet.p.text
    break
mars_weather

'InSight sol 141 (2019-04-20) low -98.3ºC (-144.9ºF) high -19.7ºC (-3.5ºF)\nwinds from the SW at 4.7 m/s (10.6 mph) gusting to 12.9 m/s (28.8 mph)\npressure at 7.40 hPapic.twitter.com/CQr1QQt3cM'

# MARS FACTS

In [14]:
facts_url = "https://space-facts.com/mars/"

In [15]:
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [16]:
df = tables[0]
df.columns = ['Name','Value']
df.head()

                   Name                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [17]:
df.to_html(classes="table table-sm", header=False, index=False)

'<table border="1" class="dataframe table table-sm">\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [18]:
hem_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hem_url)
html = browser.html 
soup = bs(html,"html.parser")
items = soup.find_all("div", class_='item')

In [19]:
hemisphere_image_urls = []
main_url = "https://astrogeology.usgs.gov"

# Loop through the items previously stored
for item in items: 
    title = item.find('h3').text
    item_url = item.find('a', class_='itemLink product-item')['href']
    browser.visit(main_url + item_url)
    item_html = browser.html 
    soup = bs(item_html, 'html.parser')
    img_url = main_url + soup.find('img', class_='wide-image')['src']
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]